.page-parking-lot {

  .main-structure {

    @media #{$only-smartphone} {
      display: flex;
      flex-flow: column wrap;

      > .division:nth-child(2) {
        order: 1;
        width: 100% !important;
      }

      > .division:nth-child(1) {
        order: 2;
        width: 100% !important;
      }

    }

  }

  .benefits ul {

    li {
      @include rem(margin-right, 20px);

      @media #{$tablet} {
        @include rem(width, 120px);
      }

    }

    i {
      @include rem(width, 120px);
      @include rem(height, 120px);
      @include rem(line-height, 120px);
      text-align: center;
      background-color: color('blue');
      color: white;
      display: inline-block;
      @include rem(font-size, 60px);
    }

    p {
      font-size: 15px;
    }

  }

}