.breadcrumbs {
  @include rem(padding-bottom, 10px);
  border-bottom: 1px solid darken(white, 10%);
  @include rem(margin, 80px 0 100px);
  font-size: 13px;

  span, a {
    text-transform: uppercase;
  }

  .breadcrumb_last {
    color: color('blue');
    font-weight: bold;
  }

}