.colors{
  .title-7{
    @include rem(margin-bottom, 30px);
  }
}

.square{
  display: inline-block;
  @include rem(width, 70px);
  @include rem(height, 70px);
  @include rem(margin-right, 20px);
  border-radius: 99999px;

  @include theme {
    background: $color;
  }

}

.hex{
  display: inline-block;
  vertical-align: top;
  @include rem(padding-top, 10px);
  @include rem(font-size, 16px);
  color: color('dark-gray');
  text-transform: uppercase;
  font-weight: 100;

  strong {
    display: block;
    margin-bottom: 0;
  }

}