.fancybox-bg {
  background: white;
}

.fancybox-container--ready .fancybox-bg {
  opacity: 1;
}

.fancybox-caption-wrap {
  background: transparent;
  color: black;

  .fancybox-caption {
    color: inherit;
    text-align: center;
    @include rem(font-size, 18px);
    font-family: inherit;
    border: 0;
  }

}