.tabs {

  .tabs-nav {
    border-bottom: 1px solid #cacaca;
    @include rem(margin-bottom, 70px);

    .nav {
      justify-content: center;
      @include rem(font-size, 16px);
      padding: 0% 2.5%;
      display: none;

      @media #{$tablet} {
        display: flex;
      }

    }

    button {
      @include rem(font-size, 14px);
      text-transform: uppercase;
      color: #cacaca;
      @include rem(padding, 16px 0px);
      background-color: #fff;
      border: 0;
      flex: 0 1 auto;
      font-weight: bold;
      @include transition(background, color, border);
      border-bottom: 4px solid transparent;

      &.-active {
        color: color('blue');
        border-bottom: 4px solid color('blue');
      }

      &:not(:last-child){
        @include rem(margin-right, 60px);
      }

      &:hover:not(.-active) {
        // background-color: darken(white, 3%);
        color: darken(white, 50%);
      }

    }

  }

  .tabs-content {

    .group {
      @include rem(margin-bottom, 40px);

      @media #{$tablet} {
        margin-bottom: 0;
      }


      .division:nth-child(1) {

        @media #{$only-smartphone} {
          float: left;

          img {
            width: 25vw;
            height: 25vw;
            object-fit: cover;
            object-position: center center;
          }

        }


      }

    }

  }

}

/*==============================
=            Motion            =
==============================*/

.tabs .tabs-content {

  .owl-item {
    overflow: hidden;
    transform: translateZ(0%);

    img {
      transform: translateX(-200%);
      opacity: 0;
      filter: grayscale(100%);
      @include transition2(transform, opacity, filter);
    }

    h2, p, .cta {
      opacity: 0;
      transform: translateX(200%);
      @include transition2(transform, opacity);
    }

    p {
      transition-delay: 100ms;
    }

    .cta {
      transition-delay: 200ms;
    }

  }

}

.tabs .tabs-content {

  .owl-item.active {

    img {
      transform: translateX(0%);
      opacity: 1;
      filter: grayscale(0%);
    }

    h2, p, .cta {
      opacity: 1;
      transform: translateY(0%);
    }

  }

}

/*=====  End of Motion  ======*/
