.fera-rich-content {

  p {
    @extend .fera-paragraph;
  }

  h2{
    @extend .fera-title.-title-4;
    @include rem(margin-bottom, 20px);
  }

  ul, ol{
    @include rem(padding-left, 30px);
    @include rem(margin-bottom, 30px);
  }

  ul li{
    list-style: disc;
  }

  ol li{
    list-style: decimal;
  }

  li {
    @extend .fera-paragraph;
    @include rem(margin-bottom, 10px);
  }

  em{
    font-style: italic;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.23);
  }

  blockquote{
    border-left: 3px solid #717a8f;
    @include rem(padding-left, 30px);
  }

  @include theme {

    p{
      > strong, > a {
        color: $color;
      }
    }

    blockquote{
      border-left: 3px solid $color;
    }

  }

}