.reservation {
  background-color: darken(white, 3%);
  @include rem(padding, 100px 0);
  @include rem(margin-top, 200px);

  .box {
    margin: 0 auto;

    @media #{$only-smartphone} {
      @include container(90%);
    }

    @media #{$tablet} {
      background-color: #fff;
      position: relative;
      z-index: 30;
      @include rem(margin-top, -250px);
      @include rem(padding, 90px 80px);
      text-align: center;
      box-shadow: 0px 10px 120px 0px rgba(0,0,0,0.15);
      @include rem(max-width, 720px);
    }

  }

  button {
    width: 100%;
  }

  form h2 {
    margin: 0;

    @media #{$tablet} {
      text-align: right;
    }

  }

}