.hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.hide-mobile {

  @media #{$only-smartphone} {
    display: none!important;
  }

}

.only-mobile {

  @media #{$tablet} {
    display: none !important;
  }

}

.text-center {

  @media #{$tablet} {
    text-align: center;
  }

}

.-light {
  font-weight: 300!important;
}

.-normal {
  font-weight: 400!important;
}

.-bold {
  font-weight: bold!important;
}

.ttc {
  text-transform: capitalize!important;
}

@each $name, $color in $themeColors {

  .color-#{$name} {
    color: $color!important;
  }

}