/*==============================
=            Colors            =
==============================*/

$themeColors: (
  'purple': #54246a,
  'purple-light': #733e97,
  'blue': #315aa9,
  'blue-light': #3186c7,
  'yellow': #f3ac47,
  'pink': #da1e77,
  'rose': #e75a6a,
  'dark-gray': #333,
  'light-gray': #9e9e9e,
  'black': #000,
  'white': #fff
);

/*=====  End of Colors  ======*/

/*================================
=            Defaults            =
================================*/

$rounded: 5px;

/*=====  End of Defaults  ======*/

/*==============================
=            Layout            =
==============================*/

$column-gutter: 25px;

/*=====  End of Layout  ======*/