.fera-color {

  @include theme {
    color: $color!important;
  }

}

.fera-bgcolor {

  @include theme {
    background-color: $color!important;
  }

}


.-t-center{
  text-align: center;
}

.-o-hidden{
  overflow: hidden;
}