* {
  text-rendering: geometricPrecision;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
}

// html {
//   @include viewport-unit(font-size, 9, 320, "vw");

//   @media #{$tablet} {
//     @include viewport-unit(font-size, 13, 1024, "vw");
//   }
// }


.fera-module{
  @include rem(padding, 50px);
  @include rem(margin-bottom, 100px);
}